{% extends 'base.html.twig' %}

{% block title %}Ajouter une prestation{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle prestation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('prestations') }}" class="btn btn-secondary mt-4">Retour</a>
{% endblock %}